header
{
    background-color: rgb(252,249,240);
    height: 60px;
    color: #af1946;
    text-align: right;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    top: 0;
}

a:link,
a:visited,
a:hover,
a:active {color:#af1946;}

header img
{
    height: 60px;
    float: left;
}

footer
{
    background-color: #af1946;
    width: 100%;
    height: 40px;
    color: rgb(252,249,240);
    position: fixed;
    bottom: 0;
    font-size: 2.1em;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {color:rgb(252,249,240);}

.twitter
{
    text-align: right;
    background-color: orange;
    float: right;
}

body
{
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

#singleContainer
{
    margin-top: 100px;
    text-align: center;
    font-weight: normal;
}

.jumboText
{
    color: #af1946;
    font-weight: bold;
    font-size: 7.5em;
    text-transform: uppercase;
}

.bigText
{
    font-weight: bold;
    font-size: 7em;
    text-transform: uppercase;
}

.medText
{
    font-size: 2em;
}

.teenyText
{
    font-size: 1.3em;
}

#statsContainer
{
    text-align: center;
    font-weight: normal;
    margin-bottom: 60px;
}

#interestedText
{
    margin-top: 40px;
}

.statElement
{
    background-color: green;
    text-align: center;
    width: 300px;
    height: 300px;
    font-size: 50px;
    margin: 10px auto;
    border-radius: 20px;
}

.credits_text
{
    margin-top: 80px;
    text-align: center;
}

.statText
{
    font-size:3em;
}